<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Administrador</title>
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/AdminLTE.min.css" />
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/skin-blue.min.css" />
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/bootstrap.min.css" />

        <script src="#{facesContext.externalContext.requestContextPath}/resources/jquery.min.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/adminlte.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <h:outputScript library="webjars" name="font-awesome/4.7.0/css/font-awesome.css"/>
    </h:head>


    <h:body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">

            <!-- Main Header -->
            <header class="main-header">

                <!-- Logo -->
                <a class="logo" href="#">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/login1.png" style="height:40%; width:30%" /></span>

                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><img src="#{facesContext.externalContext.requestContextPath}/resources/login1.png" style="height:40%; width:30%"/></span>
                </a>

                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button -->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only"></span>
                    </a>
                    <a href="#{facesContext.externalContext.requestContextPath}/login.xhtml" role="button" title="Salir del sistema" style="float:right">
                        <span class="fa fa-sign-out" style="font-size:3em;color: #fff;padding-top:5px;padding-right: 2px"></span>
                    </a>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">

                <!-- Main content -->

                <section class="content container-fluid">

                    <div >
                        <div class="content container-fluid">
                            <ui:insert name="body" >
                            </ui:insert>

                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <!-- Main Footer -->
            <footer class="main-footer">
                <div>
                    <span>footer</span>
                </div>
            </footer>
            <!-- /.control-sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>

    </h:body>
</html>
