<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Product Backlog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form>
                    <p:growl sticky="true" showDetail="true"/>
                    <h3>Usuarios</h3>
                    <p:separator style="color: #ffffff"/>
                    <p class="text-primary">Lista de Backlog</p>
                    <p:dataTable value="#{BacklogView.backlogs}" var="backlog"
                                 rows="5" 
                                 paginator="true"
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15"
                                 >
                        <p:column  headerText="Acción" >
                            <div align="center" >

                                <p:commandButton class="btn btn-default"  
                                                 immediate="true"
                                                 icon="ui-icon-zoomin"
                                                 action="#{BacklogView.view()}"
                                                 title="Ver detalle"  >
                                    <f:setPropertyActionListener target="#{BacklogView.backlogRequest}" value="#{backlog}"/>
                                </p:commandButton>
                                <p:commandButton class="btn btn-default"  
                                                 immediate="true"
                                                 icon="ui-icon-pencil" 
                                                 action="#{BacklogView.edit()}"
                                                 title="Editar"  >
                                    <f:setPropertyActionListener target="#{backlog}" value="#{BacklogView.backlogRequest}"/>
                                </p:commandButton>
                                <p:commandButton class="btn btn-default" 
                                                 icon=" ui-icon-clipboard" 
                                                 title="Ver backlogs"  >
                                    <f:setPropertyActionListener target="#{backlog}" value="#{BacklogView.backlogRequest}"/>
                                </p:commandButton>
                            </div>
                        </p:column>

                        <p:column headerText="Backlog">
                            <div align="center" >
                                <h:outputText value="#{backlog.id_backlog}" />
                            </div>
                        </p:column>

                        <p:column headerText="Proyecto">
                            <div align="center" >
                                <h:outputText value="#{backlog.id_proyecto}" />
                            </div>
                        </p:column>

                        <p:column headerText="Nombre Proyecto">
                            <div align="center" >
                                <h:outputText value="#{backlog.nombre}" />
                            </div>
                        </p:column>

                        <p:column headerText="Fecha_inicio">
                            <div align="center" >
                                <h:outputText value="#{backlog.fecha_inicio}" />
                            </div>
                        </p:column>

                        <p:column headerText="Fecha_fin">
                            <div align="center" >
                                <h:outputText value="#{backlog.fecha_fin}" />
                            </div>
                        </p:column>

                        <p:column headerText="Descripcion">
                            <div align="center" >
                                <h:outputText value="#{backlog.descripcion}" />
                            </div>
                        </p:column>

                    </p:dataTable>

                    <br></br>
                    <p:commandButton class="btn btn-primary"   
                                     action="#{BacklogView.newBacklog}"
                                     immediate="true"
                                     value="Agregar Backlog">
                    </p:commandButton>

                </h:form>

                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog" >
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"></button>
                                <h4 class="modal-title">Registro de Backlog</h4>
                            </div>
                            <div class="modal-body">
                                <h:form id="formModal">
                                    <p:separator/>
                                    <br></br>
                                    <h5 value="Datos de Backlogs">Datos de Backlogs</h5>
                                    <p:separator/>
                                    <fieldset style="background: #ffffff" >
                                        <br></br>
                                        <p:panelGrid columns="4" styleClass="ui-noborder ui-panelGrid-black">
                                            <p:outputLabel value="Backlog:" />
                                            <p:inputText id="idBacklog" 
                                                         disabled="#{BacklogView.btnView}"
                                                         value="#{BacklogView.BacklogRequest.idBacklog}"  
                                                         />
                                            <p:outputLabel value="Proyecto" rendered="#{!BacklogView.btnView}" />
                                            <p:inputText id="idProyecto"
                                                         disabled="#{BacklogView.btnView}"
                                                         value="#{BacklogView.BacklogRequest.idProyecto}"
                                                         /> 
                                            <p:outputLabel value="Descripcion" rendered="#{!BacklogView.btnView}" />
                                            <p:inputText id="descripcion"
                                                         disabled="#{BacklogView.btnView}"
                                                         value="#{BacklogView.BacklogRequest.idProyecto}"
                                                         /> 

                                        </p:panelGrid>
                                        <br></br><br></br>
                                    </fieldset>


                                    <div class="modal-footer">
                                        <div align="center" >
                                            <h:panelGrid columns="2" >
                                                <h:commandButton rendered="#{!BacklogView.btnView}" class="btn btn-primary" value="Guardar" action="#{BacklogView.save()}"  >
                                                </h:commandButton>
                                                <button type="button" style="margin-left: 1px"  class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                            </h:panelGrid>
                                        </div>
                                    </div>
                                </h:form>

                            </div>

                        </div>

                    </div>
                </div>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
