<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Proyectos</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="form-baclog">
                    <p:growl sticky="true" showDetail="true"/>
                    <h3>Parking</h3>
                    <p:separator style="color: #ffffff"/>
                    <p:accordionPanel widgetVar="basic">
                        <p:tab title="Datos Basicos">
                            <p:panelGrid columns="4"  styleClass="ui-noborder ui-panelGrid-black">

                                <p:outputLabel value="Tipo de vehiculo: " />
                                <p:selectOneMenu id="group" value="#{selectOneMenuView.countryGroup}">
                                    <f:selectItem itemLabel="Seleccione" itemValue=""/>
                                    <f:selectItems value="#{selectOneMenuView.countriesGroup}"/>
                                </p:selectOneMenu>
                                <p:outputLabel value="Fecha desde : " />
                                <p:calendar  id="popup"  value="#{userView.usuarioModel.nombre}"
                                             />

                                <p:outputLabel  value="Fecha hasta" />
                                <p:calendar value="#{userView.usuarioModel.apellido}"
                                            /> 
                                <p:outputLabel  value="Estado" />
                                <p:inputText disabled="true" value="Pendiente"
                                            /> 

                            </p:panelGrid>
                        </p:tab>
                    </p:accordionPanel>
                    <p:separator style="color: #ffffff"/>

                    <div  align="center">
                        <p:commandButton class="btn btn-primary"  value="Verificar Disponibilidad" 
                                         action="#{proyectoView.addBacklog}" icon="ui-icon-check"></p:commandButton>
                    </div>
                    <br></br>
                    <p:separator style="color: #ffffff"/>
                    <p:accordionPanel widgetVar="basic">
                        <p:tab title="Lugares disponibles">
                            <div class="alert alert-success">Existen lugares disponibles!</div>
                            <p:dataTable value="#{userView.users}" var="user"
                                         rows="5" emptyMessage="No existen Lugares disponibles!"
                                         >
                                <p:column headerText="Codigo de lugar">
                                    <div align="center" >
                                        <h:outputText value="B01E03" />
                                    </div>
                                </p:column>
                                <p:column headerText="Tipo vehiculo">
                                    <div align="center" >
                                        <h:outputText value="UTV" />
                                    </div>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:accordionPanel>
                    <p:separator style="color: #ffffff"/>
                    <div class="modal-footer">
                        <div align="center" >
                            <h:panelGrid columns="2" >
                                <h:commandButton class="btn btn-primary" value="Reservar" action="#{userView.save()}"  >
                                </h:commandButton>
                                <h:commandButton class="btn btn-primary" value="Cancelar" action="userList"  >
                                </h:commandButton>
                            </h:panelGrid>
                        </div>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
