<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"

      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Configuracion</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from">
                    <p:growl sticky="true" showDetail="true"/>
                    <h3>Configuracion</h3>
                    <p:dataTable value="#{configuracion.roles}" var="rol" >
                        <p:column  headerText="Acción" >
                            <div align="center" >

                                <p:commandButton class="btn btn-default"  
                                                 immediate="true"
                                                 action="#{configuracion.cargarRolesAsignados}"
                                                 icon="ui-icon-zoomin" 
                                                 title="Ver pantallas con permisos"  >
                                    <f:setPropertyActionListener target="#{configuracion.rolSelected}" value="#{rol}"/>
                                </p:commandButton>
                                <p:commandButton class="btn btn-default"  
                                                 immediate="true"
                                                 action="#{configuracion.cargarRolesAsignados()}"
                                                 icon="ui-icon-pencil" 
                                                 title="Editar permisos"  >
                                    <f:setPropertyActionListener target="#{rol}" value="#{configuracion.rolSelected}"/>
                                </p:commandButton>

                            </div>
                        </p:column>

                        <p:column headerText="Nombre">
                            <div align="center" >
                                <h:outputText value="#{rol.rolDesc}" />
                            </div>
                        </p:column>

                        <p:column headerText="Estado">
                            <div align="center" >
                                <h:outputText value="Activo" />
                            </div>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
