<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >
    <head>
        <title>Gestion Proyectos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <p:growl sticky="true" showDetail="true"/>
                <h:form id="from-insert-project">
                    <h5  value="Datos del Proyecto">Bienvenido : #{loginView.usuario}</h5>
                    <p:separator/>
                    <h5  value="Datos del Proyecto">Proyectos asignados</h5>
                    <p:separator/>
                    <fieldset style="background: #ffffff" >
                        <br></br>

                        <p:panelGrid columns="4"  styleClass="ui-noborder ui-panelGrid-black">
                            <p:outputLabel value="Nombre : " />
                            <p:inputText id="nombre" 
                                         value="#{proyectoView.proyeto.nombre}"
                                         />

                            <p:outputLabel  value="Descripcion :" />
                            <p:inputText id="descripcion"  
                                         value="#{proyectoView.proyeto.descripcion}"
                                         /> 

                            <p:outputLabel value="Fecha Inicio:" />
                            <input type="date" class="form-control" id="fechaini"  name="fechaini" ></input>


                            <p:outputLabel value="Fecha Fin:" />
                            <input type="date" id="fechafin" name="fechafin" class="form-control"  ></input>


                        </p:panelGrid>
                        <br></br>
                    </fieldset>
                    <br></br>


                    <div class="modal-footer">
                        <div align="center" >
                            <h:panelGrid columns="2" >
                                <h:commandButton  class="btn btn-primary" value="Guardar" action="#{proyectoView.save()}"  />
                            </h:panelGrid>
                        </div>
                    </div>
                </h:form>


            </ui:define>
        </ui:composition>
        </h:body>
</html>
