<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Proyectos</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form>
                    <p:growl sticky="true" showDetail="true"/>
                    <h3>Proyectos por Usuario</h3>
                    <p:separator style="color: #ffffff"/>
                    <p class="text-primary">Lista de Proyectos de usuario</p>
                    <p:dataTable value="#{userView.proyetos}" var="project"
                                 rows="5" 
                                 paginator="true"
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15"
                                 >
                        <p:column headerText="Nombre">
                            <div align="center" >
                                <h:outputText value="#{project.nombre}" />
                            </div>
                        </p:column>

                        <p:column headerText="Descripcion">
                            <div align="center" >
                                <h:outputText value="#{project.descripcion}" />
                            </div>
                        </p:column>
                        
                        <p:column headerText="Fecha Inicio">
                            <div align="center" >
                                <h:outputText value="#{project.fechaInicio}" />
                            </div>
                        </p:column>
                        
                        <p:column headerText="Fecha Fin">
                            <div align="center" >
                                <h:outputText value="#{project.fechaFin}" />
                            </div>
                        </p:column>

                        
                    </p:dataTable>

                    <br></br>
                    <p:commandButton class="btn btn-primary"   
                                     action="userList.xhtml"
                                     immediate="true"
                                     value="Volver">
                    </p:commandButton>

                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
