<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Proyecto </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="formModalViewProyecto">
                    <p:growl id="msg" sticky="true"/>
                    <h5  value="Datos de Proyecto">Datos de Proyecto</h5>
                    <p:separator/>
                    <fieldset style="background: #ffffff" >
                        <br></br>
                        <p:panelGrid columns="4"  styleClass="ui-noborder ui-panelGrid-black">
                            <p:outputLabel  value="Nombre :" />
                            <p:inputText id="nombre"   disabled="true"
                                         value="#{proyectoView.proyeto.nombre}"
                                         /> 

                            <p:outputLabel  value="Descripcion :" />
                            <p:inputText id="descrip"   disabled="true"
                                         value="#{proyectoView.proyeto.descripcion}"
                                         /> 
                        </p:panelGrid>
                        
                        
                        <p:panelGrid columns="4"  styleClass="ui-noborder ui-panelGrid-black">
                            <p:outputLabel for="popup" value="Fecha Inicio" />
                            <h:inputText disabled="true" id="popup" value="#{proyectoView.proyeto.fechaInicio}" />


                            <p:outputLabel for="popup2" value="Fecha Fin" />
                            <h:inputText disabled="true" id="popup2" value="#{proyectoView.proyeto.fechaFin}" />
                        </p:panelGrid>
                        <br></br>
                    </fieldset>
                    <br></br>
                    <p:separator/>
                    <h5>
                        Lista de tareas (Backlog)
                    </h5>
                    <p:dataTable value="#{proyectoView.backlogs}" 
                                 var="backlog"
                                 rowIndexVar="index"
                                 emptyMessage="No hay datos que mostrar"
                                 >
                        <p:column headerText="#">
                            <h:outputText  value="#{index+1}"/>
                        </p:column>
                        <p:column headerText="Nombre">
                            <h:outputText  value="#{backlog.descripcion}"/>
                        </p:column>
                    </p:dataTable>
                     <h5>
                        Usuarios y Roles
                    </h5>
                    <p:dataTable value="#{proyectoView.proyectoRolUsuarioReqWrapper.proyectoRolUsuarioReqs}" 
                                 var="item">
                        <p:column headerText="#">
                            <h:outputText  value="#{index+1}"/>
                        </p:column>
                        <p:column headerText="Usuario">
                            <h:outputText  value="#{item.usuario.usuario}"/>
                        </p:column>
                        <p:column headerText="Rol">
                            <h:outputText  value="#{item.rol.rolDesc}"/>
                        </p:column>
                    </p:dataTable>
                    
                    <h5>
                        Sprints
                    </h5>
                    <p:dataTable value="#{proyectoView.sprints}"
                                 var="sprint">
                        
                    </p:dataTable>

                    <div class="modal-footer">
                        <div align="center" >
                            <h:panelGrid columns="2" >
                                <h:commandButton class="btn btn-primary" value="Volver" action="proyectoList.xhtml"  >
                                </h:commandButton>
                            </h:panelGrid>
                        </div>
                    </div>
                </h:form>
                 

            </ui:define>
        </ui:composition>
    </h:body>
</html>
