<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Usuarios</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from-insert-project">
                    <p:growl id="id" for="msg" sticky="true" showDetail="true"/>
                    <h5  value="Datos del Proyecto">Datos del Proyecto</h5>
                    <p:separator/>
                    <fieldset style="background: #ffffff" >
                        <br></br>

                        <p:panelGrid columns="4"  styleClass="ui-noborder ui-panelGrid-black">
                            <p:outputLabel value="Nombre : " />
                            <p:inputText id="nombre" 
                                         value="#{proyectoView.proyeto.nombre}"
                                         />

                            <p:outputLabel  value="Descripcion :" />
                            <p:inputText id="descripcion"  
                                         value="#{proyectoView.proyeto.descripcion}"
                                         /> 

                            <p:outputLabel value="Fecha Inicio:" />
                            <input type="date" class="form-control" id="fechaini"  name="fechaini" ></input>


                            <p:outputLabel value="Fecha Fin:" />
                            <input type="date" id="fechafin" name="fechafin" class="form-control"  ></input>


                        </p:panelGrid>
                        <br></br>
                        <p:panelGrid id="user-rol" columns="3">
                            <h:panelGroup>
                            <p:panelGrid columns="1">
                                <h5>Usuarios</h5>
                                <p:dataTable value="#{proyectoView.usuarios}" var="usuario" 
                                             rowKey="#{usuario.idUsuario}"
                                             selectionMode="single" selection="#{proyectoView.usuario}"
                                             scrollable="true"   scrollHeight="150"
                                             >

                                    <p:column >
                                        <div align="center" >
                                            <h:outputText value="#{usuario.nombre}" />
                                        </div>
                                    </p:column>

                                    <p:column >
                                        <div align="center" >
                                            <h:outputText value="#{usuario.apellido}" />
                                        </div>
                                    </p:column>

                                    <p:column>
                                        <div align="center" >
                                            <h:outputText value="#{usuario.usuario}" />
                                        </div>
                                    </p:column>

                                </p:dataTable>
                                 <h5>Rol</h5>
                                <p:dataTable value="#{proyectoView.roles}" var="rol" 
                                             rowKey="#{rol.idRol}"
                                             selectionMode="single" 
                                             selection="#{proyectoView.rol}"
                                             >
                                    <p:column >
                                        <div align="center" >
                                            <h:outputText value="#{rol.rolDesc}" />
                                        </div>
                                    </p:column>
                                </p:dataTable>
                            </p:panelGrid>

                        </h:panelGroup>
                            
                            <h:panelGroup>
                                <p:commandButton update=":from-insert-project:id"  icon ="ui-icon-arrow-1-e"  action="#{proyectoView.asignarRolUsuario}"  />
                                <p:commandButton update=":from-insert-project:id"  icon="ui-icon-arrow-1-w"  action="#{proyectoView.eliminarUsuarioRol}"  />
                            </h:panelGroup>
                            
                            
                            <h:panelGroup>
                                <p:dataTable value="#{proyectoView.usuariRolProyectos}" 
                                             var="userRol"
                                             >
                                    <p:column headerText="Usuario">
                                        <div align="center" >
                                            <h:outputText value="#{userRol.usuario.usuario}" />
                                        </div>
                                    </p:column>
                                    <p:column headerText="Rol">
                                        <div align="center" >
                                            <h:outputText value="#{userRol.rol.rolDesc}" />
                                        </div>
                                    </p:column>
                                </p:dataTable>
                            </h:panelGroup>
                        </p:panelGrid>
                        

                    </fieldset>
                    <br></br>


                    <div class="modal-footer">
                        <div align="center" >
                            <h:panelGrid columns="2" >
                                <p:commandButton update=":from-insert-project:id"  class="btn btn-primary" value="Siguiente" action="#{proyectoView.siguiente()}"  />
                            </h:panelGrid>
                             <h:panelGrid columns="2" >
                                <h:commandButton  class="btn btn-primary" value="Cancelar" action="proyectoList"  />
                            </h:panelGrid>
                        </div>
                    </div>
                </h:form>


            </ui:define>
        </ui:composition>
    </h:body>
</html>
