<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Proyectos</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from-list">
                    <p:growl sticky="true" showDetail="true"/>
                    <h3>Vehículos</h3>
                    <p:separator style="color: #ffffff"/>
                    <p class="text-primary">Lista de Vehículos</p>
                    <p:dataTable value="#{proyectoView.proyetos}" var="project"
                                 rows="5" 
                                 paginator="true"
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15"
                                 >
                        <p:column  headerText="Acción" >
                            <div align="center" >
                                <p:commandButton class="btn btn-default"  
                                                 immediate="true"
                                                 icon="ui-icon-zoomin"
                                                 action="#{proyectoView.view}"
                                                 title="Ver detalle"  >
                                    <f:setPropertyActionListener target="#{proyectoView.proyeto}" value="#{project}"/>
                                </p:commandButton>
                                <p:commandButton class="btn btn-default"  
                                                 immediate="true"
                                                 icon="ui-icon-pencil" 
                                                 action="#{proyectoView.edit()}"
                                                 title="Editar"  >
                                    <f:setPropertyActionListener target="#{proyectoView.proyeto}" value="#{project}"/>
                                </p:commandButton>
                                <p:commandButton class="btn btn-default"  
                                                 immediate="true"
                                                 icon="ui-icon-clipboard" 
                                                 action="#{proyectoView.newBacklog()}"
                                                 title="Agregar Backlog"  >
                                    <f:setPropertyActionListener target="#{proyectoView.proyeto}" value="#{project}"/>
                                </p:commandButton>
                                <p:commandButton class="btn btn-default"  
                                                 immediate="true"
                                                 icon="ui-icon-triangle-1-s" 
                                                 action="#{proyectoView.viewSprint()}"
                                                 title="Lista de Tareas"  >
                                    <f:setPropertyActionListener target="#{proyectoView.proyeto}" value="#{project}"/>
                                </p:commandButton>
                                <p:commandButton class="btn btn-default"  
                                                 immediate="true"
                                                 icon="ui-icon-document-b" 
                                                 action="#{proyectoView.newSprint()}"
                                                 title="Agregar Sprint"  >
                                    <f:setPropertyActionListener target="#{proyectoView.proyeto}" value="#{project}"/>
                                </p:commandButton>
                            </div>
                        </p:column>

                        <p:column headerText="Numero de chapa">
                            <div align="center" >
                                <h:outputText value="#{project.nombre}" />
                            </div>
                        </p:column>

                        <p:column headerText="Chassis">
                            <div align="center" >
                                <h:outputText value="#{project.descripcion}" />
                            </div>
                        </p:column>
                        
                        <p:column headerText="Observacion">
                            <div align="center" >
                                <h:outputText value="#{project.fechaInicio}" />
                            </div>
                        </p:column>
                        
                        <p:column headerText="Tipo de vehiculo">
                            <div align="center" >
                                <h:outputText value="#{project.fechaFin}" />
                            </div>
                        </p:column>
                        <p:column headerText="Marca">
                            <div align="center" >
                                <h:outputText value="#{project.fechaFin}" />
                            </div>
                        </p:column>
                        <p:column headerText="Color">
                            <div align="center" >
                                <h:outputText value="#{project.fechaFin}" />
                            </div>
                        </p:column>

                        
                    </p:dataTable>

                    <br></br>
                    <p:commandButton class="btn btn-primary"   
                                     action="#{proyectoView.newProject}"
                                     immediate="true"
                                     value="Agregar vehiculos">
                    </p:commandButton>

                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
