<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </h:head>

    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form>
                    <p:growl sticky="true" showDetail="true"/>
                    <h3>Parking</h3>
                    <p:separator style="color: #ffffff"/>

                    <p:accordionPanel widgetVar="basic">
                        <p:tab title="Filtros">
                            <p:panelGrid columns="4"  styleClass="ui-noborder ui-panelGrid-black">
                                <p:outputLabel value="Nombre : " />
                                <p:inputText 
                                    value="#{userView.usuarioModel.nombre}"
                                    />

                                <p:outputLabel  value="CI/RUC :" />
                                <p:inputText 
                                    value="#{userView.usuarioModel.apellido}"
                                    /> 
                                <p:outputLabel value="Fecha desde : " />
                                <p:calendar  id="popup"  value="#{userView.usuarioModel.nombre}"
                                             />

                                <p:outputLabel  value="Fecha hasta" />
                                <p:calendar value="#{userView.usuarioModel.apellido}"
                                            /> 
                            </p:panelGrid>
                        </p:tab>
                    </p:accordionPanel>
                    <p:separator style="color: #ffffff"/>
                    <p:commandButton class="btn btn-primary"  style="background: black" 
                                     action="#{proyectoView.newBacklog()}"
                                     immediate="true"
                                     value="Reservar estacionamiento">
                    </p:commandButton>
                    <p:separator style="color: #ffffff"/>
                    <p class="text-primary">Lista de Fichas de recepcion</p>
                    <p:separator style="color: #ffffff"/>
                    <p:dataTable value="#{userView.users}" var="user"
                                 rows="5"  emptyMessage="No existen datos!"
                                 paginator="true"
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15"
                                 >
                        <p:column headerText="CI/RUC">
                            <div align="center" >
                                <h:outputText value="5678408" />
                            </div>
                        </p:column>

                        <p:column headerText="Nombre">
                            <div align="center" >
                                <h:outputText value="Johana Saracho" />
                            </div>
                        </p:column>

                        <p:column headerText="Codigo de lugar">
                            <div align="center" >
                                <h:outputText value="02B03" />
                            </div>
                        </p:column>
                        <p:column headerText="Fecha Desde">
                            <div align="center" >
                                <h:outputText value="02/10/2021" />
                            </div>
                        </p:column>
                        <p:column headerText="Fecha Hasta">
                            <div align="center" >
                                <h:outputText value="10/10/2021" />
                            </div>
                        </p:column>

                        <p:column headerText="Estado">
                            <h:outputText value="Pendiente" />
                        </p:column>
                        <p:column  headerText="Seleccionar" >
                            <div align="center" >
                                <p:selectOneRadio id="console" value="#{radioView.console}" >
                                    <f:selectItem itemLabel="" itemValue="Option1"/>
                                </p:selectOneRadio>
                            </div>
                        </p:column>
                    </p:dataTable>
                    <p:separator style="color: #ffffff"/>
                    <div align="right" >

                        <p:commandButton class="btn btn-google"  
                                         immediate="true" value="Ver detalle"
                                         icon="ui-icon-zoomin"
                                         action="#{userView.view()}"
                                         title="Ver detalle"  >
                            <f:setPropertyActionListener target="#{userView.usuarioModel}" value="#{user}"/>
                        </p:commandButton>
                        <p:commandButton class="btn btn-google" 
                                         immediate="true"
                                         icon="ui-icon-pencil" 
                                         action="#{userView.edit()}"
                                         value="Editar"  >
                            <f:setPropertyActionListener target="#{userView.usuarioModel}" value="#{user}"/>
                        </p:commandButton>
                        <p:commandButton class="btn btn-google" 
                                         immediate="true"
                                         icon="ui-icon-document" 
                                         action="#{userView.edit()}"
                                         value="Generar Presupuesto"  >
                            <f:setPropertyActionListener target="#{userView.usuarioModel}" value="#{user}"/>
                        </p:commandButton>
                        <p:commandButton class="btn btn-google" 
                                         immediate="true"
                                         icon="ui-icon-check"
                                         action="#{userView.view()}"
                                         value="Aprobar"  >
                            <f:setPropertyActionListener target="#{userView.usuarioModel}" value="#{user}"/>
                        </p:commandButton>
                        <p:commandButton class="btn btn-google" 
                                         immediate="true"
                                         icon="ui-icon-circle-close"
                                         action="#{userView.edit()}"
                                         value="Rechazar"  >
                            <f:setPropertyActionListener target="#{userView.usuarioModel}" value="#{user}"/>
                        </p:commandButton>
                    </div>
                    <br></br>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
