<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Proyectos</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="form-sprint">
                    <p:growl sticky="true" showDetail="true"/>
                    <h3>Lista de tareas</h3>

                    <fieldset>
                        <h5>Datos del proyecto</h5>
                        <p:separator style="color: #ffffff"/>
                        <p:outputLabel value="Nombre del Proyecto :"/>
                        <p:inputText disabled="true" value="#{proyectoView.proyeto.nombre}"></p:inputText>
                        <p:outputLabel value="Descripcion del Proyecto :"/>
                        <p:inputText disabled="true" value="#{proyectoView.proyeto.descripcion}"></p:inputText>
                    </fieldset>

                    <fieldset>
                        <p:panelGrid columns="3"  styleClass="ui-noborder ui-panelGrid-black">
                            <h:panelGroup>
                                <p:outputLabel value="Descripcion de Sprint :"/>
                                <p:inputText  value="#{proyectoView.sprint.sprintDesc}"></p:inputText>
                            </h:panelGroup>
                            <h:panelGroup>
                                <p:outputLabel value="Inicio de Sprint :"/>
                                <input type="date" class="form-control" id="fechaini"  name="fechaini" ></input>
                            </h:panelGroup>
                            <h:panelGroup>
                                <p:outputLabel value="Fin de Sprint :"/>
                                <input type="date" class="form-control" id="fechaini"  name="fechaini" ></input>
                            </h:panelGroup>
                        </p:panelGrid>
                    </fieldset>
                    <p:separator style="color: #ffffff"/>
                    <fieldset>
                        <h5>Lista de tareas del proyecto</h5>
                        <p:dataTable value="#{proyectoView.backlogs}" 
                                     var="backlog"
                                     rowIndexVar="index"
                                     emptyMessage="No hay datos que mostrar"
                                     selectionMode="single" 
                                     selection="#{proyectoView.backlog}" 
                                     rowKey="#{backlog.idBacklog}"
                                     >
                            <p:column headerText="#">
                                <h:outputText  value="#{rowIndex+1}"/>
                            </p:column>
                            <p:column headerText="Nombre">
                                <h:outputText  value="#{backlog.descripcion}"/>
                            </p:column>
                        </p:dataTable>
                        <p:separator style="color: #ffffff"/>
                        <div align="center" >
                            <h:panelGrid columns="2" >
                                <p:commandButton  class="btn btn-primary" 
                                                  icon="ui-icon-arrowthick-1-s"
                                                  value="Agregar tarea" action="#{proyectoView.cargarDatosDeHistoria()}"  />
                            </h:panelGrid>
                        </div>

                        <fieldset>
                            <h5>Seleccione el usuario que realizara la tarea</h5>
                            <h:selectManyCheckbox value="#{proyectoView.usuarios}" >
                                <f:selectItems itemValue = "#{proyectoView.usuario}" itemLabel = "#{proyectoView.usuario.nombre}" /> 
                            </h:selectManyCheckbox>
                        </fieldset>




                        <div align="center" >
                            <h:panelGrid columns="2" >
                                <p:commandButton  class="btn btn-primary" 
                                                  icon="ui-icon-arrowthick-1-s"
                                                  value="Guardar Datos" action="#{proyectoView.cargarDatosDeHistoria()}"  />
                            </h:panelGrid>
                        </div>
                    </fieldset>


                    <h5>Lista de tareas del Sprint</h5>

                    <p:dataTable value="#{proyectoView.historias}" 
                                 var="story"
                                 rowIndexVar="index"
                                 emptyMessage="No hay datos que mostrar"
                                 >
                        <p:column headerText="#">
                            <h:outputText  value="#{rowIndex+1}"/>
                        </p:column>
                        <p:column headerText="Nombre">
                            <h:outputText  value="#{story.tarea}"/>
                        </p:column>
                        <p:column headerText="Usuario ">
                            <h:outputText  value="#{story.usuario.nombre}"/>
                        </p:column>
                        <p:column headerText="Rol ">
                            <h:outputText  value="#{story.rol}"/>
                        </p:column>
                    </p:dataTable>

                    <br></br>
                    <p:commandButton class="btn btn-primary"   
                                     immediate="true"
                                     value="Guardar ">
                    </p:commandButton>

                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
