<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >

    <head>
    </head>
    <body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="formModalEdit">

                    <h5>Sprints del Proyecto : #{inicioUsuarioView.proyeto.nombre}</h5>

                    <p:dataTable value="#{inicioUsuarioView.sprints}" var="sprint"
                                 rows="5" 
                                 paginator="true"
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15"
                                 >
                        <p:column headerText="Nombre">
                            <div align="center" >
                                <h:outputText value="#{sprint.sprintDesc}" />
                            </div>
                        </p:column>

                        <p:column headerText="Fecha Inicio">
                            <div align="center" >
                                <h:outputText value="#{sprint.fechaInicio}" />
                            </div>
                        </p:column>

                        <p:column headerText="Fecha Fin">
                            <div align="center" >
                                <h:outputText value="#{sprint.fechaFin}" />
                            </div>
                        </p:column>
                    </p:dataTable>

                    <h:commandButton class="btn btn-primary" value="Volver" action="inicioUsuario.xhtml"  >
                    </h:commandButton>

                </h:form>
            </ui:define>
        </ui:composition>

    </body>
</html>
