<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Proyectos</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="backlog-tarea">
                    <p:growl sticky="true" showDetail="true"/>
                    <h3>Lista de tareas</h3>
                    <p:separator style="color: #ffffff"/>
                    <p class="text-primary">Seleccione Tareas</p>
                    <br></br>
                    <h:panelGrid  columns="6" style="width:100%">
                        <p:dataTable value="#{proyectoView.sprints}" 
                                     var="sprint"
                                     rowIndexVar="index"
                                     selection="#{proyectoView.sprint}"
                                     >
                            <p:column headerText="#">
                                <h:outputText  value="#{index+1}"/>
                            </p:column>
                            <p:column headerText="Nombre tarea">
                                <h:outputText  value="#{sprint.sprintDesc}"/>
                            </p:column>
                        </p:dataTable>
                        <div  align="center">
                            <p:commandButton class="btn btn-primary"  title="Agregar"  action="#{proyectoView.addSprint}" icon="ui-icon-arrowthick-1-e"></p:commandButton>
                        </div>
                        <br></br>


                        <p:dataTable value="#{proyectoView.sprints}" 
                                     var="sprint"
                                     rowIndexVar="index"
                                     selection="#{proyectoView.sprint}"
                                     selectionMode="single"
                                     scrollable="true"
                                     >
                            <p:column headerText="#">
                                <h:outputText  value="#{index+1}"/>
                            </p:column>
                            <p:column headerText="Nombre tarea">
                                <h:outputText  value="#{sprint.sprintDesc}"/>
                            </p:column>
                        </p:dataTable>
                    </h:panelGrid> 
                    <br></br>


                    <p:commandButton class="btn btn-primary" 
                                     style="float:right;"
                                     action="#{proyectoView.usuarios}"
                                     immediate="true"
                                     value="Siguiente">
                    </p:commandButton>


                    <p:separator style="color: #ffffff"/>
                    <h3>Lista de Usuarios</h3>
                    <p:separator style="color: #ffffff"/>
                    <p class="text-primary">Seleccione un Usuario</p>
                    <br></br>
                    <h:panelGrid columns="6" style="width:100%">
                        <p:dataTable value="#{proyectoView.usuarios}" var="usuario" 
                                     rowKey="#{usuario.idUsuario}"
                                     selectionMode="single" selection="#{proyectoView.usuario}"
                                     scrollable="true"   scrollHeight="150"
                                     >

                            <p:column >
                                <div align="center" >
                                    <h:outputText value="#{usuario.nombre}" />
                                </div>
                            </p:column>

                            <p:column >
                                <div align="center" >
                                    <h:outputText value="#{usuario.apellido}" />
                                </div>
                            </p:column>

                            <p:column>
                                <div align="center" >
                                    <h:outputText value="#{usuario.usuario}" />
                                </div>
                            </p:column>

                        </p:dataTable>

                        <br></br>
                        <div  align="center">
                            <p:commandButton class="btn btn-primary"  title="Agregar"  action="#{proyectoView.addUserRol}" icon="ui-icon-arrowthick-1-e"></p:commandButton>
                        </div>
                        <br></br>

                        <h:panelGroup>
                            <p:dataTable value="#{proyectoView.usuariRolProyectos}" 
                                         var="userRol"
                                         >
                                <p:column headerText="Usuario">
                                    <div align="center" >
                                        <h:outputText value="#{userRol.usuario.usuario}" />
                                    </div>
                                </p:column>
                                <p:column headerText="Tarea">
                                    <div align="center" >
                                        <h:outputText value="#{sprint.sprintDesc}" />
                                    </div>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </h:panelGrid>
                    <br></br>
                    <p:commandButton class="btn btn-primary" 
                                     style="float:right;"
                                     action="#{proyectoView.volver()}"
                                     immediate="true"
                                     value="Siguiente">
                    </p:commandButton>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
