<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Usuarios</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="formModalView">
                    <h5  value="Datos Personales">Datos Personales</h5>
                    <p:separator/>
                    <fieldset style="background: #ffffff" >
                        <br></br>

                        <p:panelGrid columns="4"  styleClass="ui-noborder ui-panelGrid-black">
                            <p:outputLabel value="Nombre : " />
                            <p:inputText id="nombre"  disabled="true"
                                         value="#{userView.usuarioModel.nombre}"
                                         />

                            <p:outputLabel  value="Apellido :" />
                            <p:inputText id="apellido"   disabled="true"
                                         value="#{userView.usuarioModel.apellido}"
                                         /> 
                        </p:panelGrid>
                        <br></br>
                    </fieldset>
                    <br></br>
                    <h5 value="Datos de Usuario">Datos de Usuario</h5>
                    <p:separator/>
                    <fieldset style="background: #ffffff" >
                        <br></br>
                        <p:panelGrid columns="4" styleClass="ui-noborder ui-panelGrid-black">
                            <p:outputLabel value="Usuario:" />
                            <p:inputText id="usuario" disabled="true"
                                         value="#{userView.usuarioModel.usuario}"  
                                         />

                            <p:outputLabel value="Correo:" />
                            <p:inputText id="correo" disabled="true"
                                         value="#{userView.usuarioModel.correo}"
                                         /> 
                        </p:panelGrid>
                        <br></br><br></br>
                    </fieldset>


                    <div class="modal-footer">
                        <div align="center" >
                            <h:panelGrid columns="2" >
                                <h:commandButton class="btn btn-primary" value="Volver" action="userList"  >
                                </h:commandButton>
                            </h:panelGrid>
                        </div>
                    </div>
                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
