<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Mantenimiento</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h3>Solicitud de alquiler</h3>
                <h:form id="formModalInsert">
                    <p:fieldset  style="background-color: #ffffff">
                    <p:separator/>
                    <p:panelGrid columns="6"  styleClass="ui-noborder ui-panelGrid-black">
                    <p:outputLabel  value="Seleccione tipo de producto a alquilar " />
                    <p:selectOneRadio id="console" value="#{radioView.console}" >
                        <f:selectItem itemLabel="INDUMENTARIA" itemValue="Option1"/>
                        <f:selectItem itemLabel="MOTOCICLETA" itemValue="Option2"/>
                    </p:selectOneRadio>
                    <p:outputLabel value="fecha de reserva: " />
                    <p:inputText
                        value="2021/02/02"
                        />
                    <p:outputLabel value="Turno: " />
                    <p:selectOneMenu id="group" value="#{selectOneMenuView.countryGroup}">
                        <f:selectItem itemLabel="Seleccione" itemValue=""/>
                        <f:selectItems value="#{selectOneMenuView.countriesGroup}"/>
                    </p:selectOneMenu>
                    <p:outputLabel value="Nombre del Cliente : " />
                    <p:inputText
                        value=""
                        />
                    <p:outputLabel value="Numero de contacto : " />
                    <p:inputText
                        value=""
                        />
                    </p:panelGrid>
                    <p:separator style="background-color: #000"/>
                     <h:commandButton class="btn btn-success" value="Verificar disponibilidad" action="#{userView.save()}"  >
                                </h:commandButton>
                    <p:separator/>
                    </p:fieldset>
                    <p:panelGrid rendered="false">
                    <p:accordionPanel widgetVar="basic">
                        <p:tab title="Seleccione tipo de producto a alquilar">
                            <p:panelGrid columns="6"  styleClass="ui-noborder ui-panelGrid-black">
                                <p:outputLabel  value="CI/RUC :" />
                                <p:inputText 
                                    value="#{userView.usuarioModel.apellido}"
                                    /> 
                                <p:outputLabel value="Nombre del Cliente : " />
                                <p:inputText 
                                    value="#{userView.usuarioModel.nombre}"
                                    />
                                <p:outputLabel value="Estado: " />
                                <p:inputText disabled="true"
                                             value="Pendiente"
                                             />
                                <p:outputLabel value="Fecha : " />
                                <p:calendar  id="popup"  value="#{userView.usuarioModel.nombre}"
                                             />
                                <p:outputLabel value="Nombre del vehiculo: " />
                                <p:inputText
                                    value=""
                                    />
                                <p:outputLabel value="Nro chapa: " />
                                <p:inputText
                                    value=""
                                    />
                                <p:outputLabel value="Chassis: " />
                                <p:inputText 
                                    value=""
                                    />
                                <p:outputLabel value="Tipo de vehiculo: " />
                                <p:selectOneMenu id="group" value="#{selectOneMenuView.countryGroup}">
                                    <f:selectItem itemLabel="Seleccione" itemValue=""/>
                                    <f:selectItems value="#{selectOneMenuView.countriesGroup}"/>
                                </p:selectOneMenu>
                                <p:outputLabel value="Color de vehiculo: " />
                                <p:selectOneMenu id="group" value="#{selectOneMenuView.countryGroup}">
                                    <f:selectItem itemLabel="Seleccione" itemValue=""/>
                                    <f:selectItems value="#{selectOneMenuView.countriesGroup}"/>
                                </p:selectOneMenu>
                                <p:outputLabel value="Marca de vehiculo: " />
                                <p:selectOneMenu id="group" value="#{selectOneMenuView.countryGroup}">
                                    <f:selectItem itemLabel="Seleccione" itemValue=""/>
                                    <f:selectItems value="#{selectOneMenuView.countriesGroup}"/>
                                </p:selectOneMenu>
                                <p:outputLabel value="Foto de vehiculo: " />
                                <p:commandButton class="btn btn-default"  
                                                 immediate="true"
                                                 icon="ui-icon-image" 
                                                 action="#{userView.edit()}"
                                                 title=""  >
                                    <f:setPropertyActionListener target="#{userView.usuarioModel}" value="#{user}"/>
                                </p:commandButton>

                            </p:panelGrid>
                        </p:tab>
                    </p:accordionPanel>
                    <br></br>
                    <p:fieldset >
                        <h5  value="Datos Personales">Datos del servicio</h5>
                        <p:separator/>
                        <h:panelGrid columns="3">
                            <h:panelGroup>
                                <p:outputLabel value="Tipo servicio : " />
                                <p:selectManyMenu id="option" value="#{userView.usuarioModel.nombre}" >
                                    <f:selectItem itemLabel="Seleccione" itemValue=""/>
                                    <f:selectItem itemLabel="Lavado basico" itemValue="Lavado"/>
                                    <f:selectItem itemLabel="Lavado full" itemValue="Option2"/>
                                    <f:selectItem itemLabel="Mantenimiento" itemValue="Option3"/>
                                </p:selectManyMenu>
                            </h:panelGroup>
                            <h:panelGroup style="margin-left:50px; margin-right:50px">
                                <p:commandButton class="btn btn-primary"  
                                                 immediate="true"
                                                 icon="ui-icon-arrowthick-1-e" 
                                                 action="#{userView.edit()}"
                                                 title="Agregar a lista de servicios"  >
                                    <f:setPropertyActionListener target="#{userView.usuarioModel}" value="#{user}"/>
                                </p:commandButton>
                            </h:panelGroup>
                            <h:panelGroup style="margin-left:50px">
                                <p:dataTable value="#{userView.users}" var="user"
                                             rows="5" emptyMessage="No existen datos!"
                                             >
                                    <p:column  headerText="Acción" >
                                        <div align="center" >
                                            <p:commandButton class="btn btn-default"  
                                                             immediate="true" style="size: 100px"
                                                             icon="ui-icon-trash" 
                                                             action="#{userView.edit()}"
                                                             title="Eliminar"  >
                                                <f:setPropertyActionListener target="#{userView.usuarioModel}" value="#{user}"/>
                                            </p:commandButton>
                                        </div>
                                    </p:column>
                                    <p:column headerText="Codigo">
                                        <div align="center" >
                                            <h:outputText value="BC03" />
                                        </div>
                                    </p:column>
                                    <p:column headerText="Descripcion">
                                        <div align="center" >
                                            <h:outputText value="Descripcion" />
                                        </div>
                                    </p:column>

                                    <p:column headerText="Detalle">
                                        <div align="center" >
                                            <h:outputText value="Detalle" />
                                        </div>
                                    </p:column>
                                </p:dataTable>
                            </h:panelGroup>
                        </h:panelGrid>
                    </p:fieldset>
                    </p:panelGrid>
                    <br></br>
                    <div class="modal-footer">
                        <div align="center" >
                            <h:panelGrid columns="2" >
                                <h:commandButton class="btn btn-primary" value="Guardar" action="#{userView.save()}"  >
                                </h:commandButton>
                                <h:commandButton class="btn btn-primary" value="Cancelar" action="userList"  >
                                </h:commandButton>
                            </h:panelGrid>
                        </div>
                    </div>
                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
