<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <head>
        <title>UserStory</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form>
                    <p:growl sticky="true" showDetail="true"/>
                    <h3>User Story</h3>
                    <p:separator style="color: #ffffff"/>
                    <p class="text-primary">Lista de UserStory</p>
                    <p:dataTable value="#{UserStoryView.userStory}" var="userStorys"
                                 rows="5" 
                                 paginator="true"
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15"
                                 >
                        <p:column  headerText="Acción" >
                            <div align="center" >

                                <p:commandButton class="btn btn-default"  
                                                 immediate="true"
                                                 icon="ui-icon-zoomin"
                                                 action="#{UserStoryView.view()}"
                                                 title="Ver detalle"  >
                                    <f:setPropertyActionListener target="#{UserStoryView.userStoryRequest}" value="#{userStorys}"/>
                                </p:commandButton>
                                
                                <p:commandButton class="btn btn-default"  
                                                 immediate="true"
                                                 icon="ui-icon-pencil" 
                                                 action="#{UserStoryView.edit()}"
                                                 title="Editar"  >
                                    <f:setPropertyActionListener target="#{userStorys}" value="#{UserStoryView.userStoryRequest}"/>
                                </p:commandButton>
                                
                                <p:commandButton class="btn btn-default" 
                                                 icon=" ui-icon-clipboard" 
                                                 title="Ver Detalles de UserStorys"  >
                                    <f:setPropertyActionListener target="#{userStorys}" value="#{UserStoryView.userStoryRequest}"/>
                                </p:commandButton>
                            </div>
                        </p:column>
                        
                        <p:column headerText="Nombre">
                            <div align="center" >
                                <h:outputText value="#{userStorys.nombre}" />
                            </div>
                        </p:column>

                        <p:column headerText="Id_tarea">
                            <div align="center" >
                                <h:outputText value="#{userStorys.id_tarea}" />
                            </div>
                        </p:column>
                        
                        <p:column headerText="Estado UserStory">
                            <div align="center" >
                                <h:outputText value="#{userStorys.estado}" />
                            </div>
                        </p:column>
                        <p:column headerText="Id_usuario">
                            <div align="center" >
                                <h:outputText value="#{userStorys.id_usuario}" />
                            </div>
                        </p:column>
                            
                        <p:column headerText="Usuario">
                            <div align="center" >
                                <h:outputText value="#{userStorys.usuario}" />
                            </div>
                        </p:column>
                        <p:column headerText="Nombre Usuario">
                            <div align="center" >
                                <h:outputText value="#{userStorys.nombre}" />
                            </div>
                        </p:column>
                        
                        <p:column headerText="Apellido Usuario">
                            <div align="center" >
                                <h:outputText value="#{userStorys.apellido}" />
                            </div>
                        </p:column>
                        
                           <p:column headerText="Correo">
                            <div align="center" >
                                <h:outputText value="#{userStorys.correo}" />
                            </div>
                        </p:column>
                        
                        
                        <p:column headerText="Id_proyecto">
                            <div align="center" >
                                <h:outputText value="#{userStorys.id_proyecto}" />
                            </div>
                        </p:column>
                        <p:column headerText="Nombre Proyecto">
                            <div align="center" >
                                <h:outputText value="#{userStorys.nombre}" />
                            </div>
                        </p:column>
                        
                        <p:column headerText="Fecha inicio">
                            <div align="center" >
                                <h:outputText value="#{userStorys.fecha_inicio}" />
                            </div>
                        </p:column>
                        
                        <p:column headerText="Fecha fin">
                            <div align="center" >
                                <h:outputText value="#{userStorys.fecha_fin}" />
                            </div>
                        </p:column>
                        
                        <p:column headerText="Id_Sprint">
                            <div align="center" >
                                <h:outputText value="#{userStorys.id_sprint}" />
                            </div>
                        </p:column>
                        
                        <p:column headerText="Sprint_desc">
                            <div align="center" >
                                <h:outputText value="#{userStorys.sprint_desc}" />
                            </div>
                        </p:column>
                        
                        <p:column headerText="Estado">
                            <div align="center" >
                                <p:commandButton 
                                    rendered="#{!userStory.estado}" 
                                    class="btn btn-success"  
                                    value="Activo" >
                                </p:commandButton>

                                <p:commandButton 
                                                 rendered="#{userStory.estado}" 
                                                 class="btn btn-danger"  
                                                 value="Inactivo"  >
                                </p:commandButton>
                            </div>
                        </p:column>
                    </p:dataTable>


                </h:form>

                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog" >
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <h:form id="formModal">
                                    <!--</fieldset>-->
                                    <br></br>
                                    <h5 value="UserStory">UserStory</h5>
                                    <p:separator/>
                                    <fieldset style="background: #ffffff" >
                                        <br></br>
                                        <p:panelGrid columns="4" styleClass="ui-noborder ui-panelGrid-black">
                                            <p:outputLabel value="Id_tarea:" />
                                            <p:inputText id="id_tarea" 
                                                         disabled="#{UserStoryView.btnView}"
                                                         value="#{UserStoryView.userStoryRequest.id_tarea}"  
                                                         />
                                        </p:panelGrid>
                                        <br></br><br></br>
                                    </fieldset>


                                    <div class="modal-footer">
                                        <div align="center" >
                                            <h:panelGrid columns="2" >
                                                <h:commandButton rendered="#{!UserStoryView.btnView}" class="btn btn-primary" value="Guardar" action="#{UserStoryView.save()}"  >
                                                </h:commandButton>
                                                <h:commandButton rendered="#{!UserStoryView.btnEdit}" class="btn btn-primary" value="Guardar" action="#{UserStoryView.edit()}"  >
                                                </h:commandButton>
                                                <button type="button" style="margin-left: 1px"  class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                            </h:panelGrid>
                                        </div>
                                    </div>
                                </h:form>

                            </div>

                        </div>

                    </div>
                </div>

            </ui:define>
        </ui:composition>
    </body>
</html>
