<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Presupuesto de Mantenimiento</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="list-user">
                    <p:growl sticky="true" showDetail="true"/>
                    <h3>Presupuesto de Parking</h3>
                    <p:separator style="color: #ffffff"/>
                    <p class="text-primary">Lista de servicios</p>
                    <p:separator style="color: #ffffff"/>
                    <p:dataTable value="#{userView.users}" var="user"
                                 rows="5"  emptyMessage="No existen datos!"
                                 paginator="true"
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15"
                                 >
                        <p:column headerText="CI/RUC">
                            <div align="center" >
                                <h:outputText value="5678408" />
                            </div>
                        </p:column>


                        <p:column headerText="Nombre">
                            <div align="center" >
                                <h:outputText value="Johana Saracho" />
                            </div>
                        </p:column>

                        <p:column headerText="Fecha desde ">
                            <div align="center" >
                                <h:outputText value="2021-02-03" />
                            </div>
                        </p:column>
                        
                        <p:column headerText="Fecha hasta ">
                            <div align="center" >
                                <h:outputText value="2021-02-15" />
                            </div>
                        </p:column>

                        <p:column headerText="Estado">
                            <h:outputText value="Pendiente" />
                        </p:column>
                        <p:column headerText="Monto total">
                            <h:outputText value="150.000" />
                        </p:column>
                    </p:dataTable>
                    <p:separator style="color: #ffffff"/>
                    <div align="right" >

                        <p:commandButton class="btn btn-primary"  
                                         immediate="true" value="Aprobar"
                                         action="#{userView.view()}"
                                         title="Aprobar"  >
                            <f:setPropertyActionListener target="#{userView.usuarioModel}" value="#{user}"/>
                        </p:commandButton>
                        <p:commandButton class="btn btn-primary" 
                                         immediate="true"
                                         action="#{userView.edit()}"
                                         value="Rechazar"  >
                            <f:setPropertyActionListener target="#{userView.usuarioModel}" value="#{user}"/>
                        </p:commandButton>
                    </div>

                    <br></br>
                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
